.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-color: #e5e5e5;

  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 24px 12px;

  border-radius: 4px;
  gap: 30px;
}

.legend .legend-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legend .legend-item h4 {
  text-align: center;
}

.legend .legend-item .legend-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 12px;
}

.legend .legend-item .legend-images .legend-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legend .legend-item .legend-images img {
  height: 50px;
}



@media (min-width: 1120px) {
  .legend {
    flex-direction: row;
  }

  .legend .legend-item .legend-images img {
  height: 65px;
}
}
