.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 20px;
  border-radius: 8px;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.36);

  width: 270px;
  height: 400px;

  gap: 5px;

  .border-divider {
    border-top: 2px solid #cacaca;
    width: 100%;

  }
}

span {
  font-weight: 700;
  font-size: 17px;
  color: var(--red);
}

span.opened {
  color: var(--green);
}

h3 {
  font-size: 25px;
  color: var(--dark-grey);
  font-weight: bold;
}

p {
  color: var(--light-grey);
  font-size: 14px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 19px;
}

li {
  display: flex;
  flex-direction: column;
  color: var(--light-grey);
  font-weight: 500;
  font-size: 19px;
}

li b {
  font-size: 21px;
  color: var(--dark-grey);
}

img {
  height: 50px;
}

.imgs {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
