.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 20px ;
  border-radius: 8px ;
  background-color: #e5e5e5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.36);
  max-width: 270px;
  height: 400px;

  gap: 20px;
}

span {
  font-weight: 700;
  font-size: 17px;
  color: var(--red);
}

span.opened {
  color: var(--green);
}

h3 {
  font-size: 25px;
  color: var(--dark-grey);
  font-weight: bold;
}

p {
  color: var(--light-grey);
  font-size: 14px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  color: var(--light-grey);
  font-weight: 500;
  font-size: 17px;
  gap: 8px;
}

li b {
  font-size: 21px;
  color: var(--dark-grey);
}

