.form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  max-width: 80%;
  width: 100%;
  margin: 0 auto;

  padding: 24px;
  border: 3px solid var(--light-text);
  border-radius: 6px;
}

.form-icon {
  font-size: 14px;
  color: var(--light-grey);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;


}

.icon {
  height: 30px;
}

.h3-text {
  font-size: 24;
  color: var(--medium-text);
  font-weight: 400;
  padding: 0px 0px 10px 10px;
  margin-top: 32px;
}

.radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 12px 4px;

  border-top: 1px solid var(--light-text);
  position: relative;
  color: var(--medium-text);
}

.hora {
  position: absolute;
  right: 0;
}

.radio-wrapper:nth-last-child(3) {
  border-bottom: 1px solid var(--light-text);

}

.btn-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.btn {
  font-size: 18px;
  border-radius: 4px;
  color: var(--dark-gray);
  font-weight: 700;
  padding: 14px;
  width: 250px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--yellow);
}

.btn-secondary {
  background-color: transparent;
  border: 3px solid var(--light-text);
}

.check {
  color: var(--light-grey);
  margin-top: 23px;
  margin-bottom: 23px;
  position: relative;
  width: 100%;
}

.results {
  position: absolute;
  right: 0;
}
